.filter {

}

.filter__search,
.filter__number{
  background-color: #333a47;
  border-radius: 3px;
  border: 1px solid #000;
  padding: 8px 10px;
  color: #fff;
  font-size: 16px;
}

.filter__search {
  margin-right: 20px;
  padding-left: 15px;
}

.filter__number {

}
