.header {

  background-color: #282c34;
  border-bottom: 4px solid #fcc201;
  padding: 20px;
  box-shadow: 0 2px 15px 0 #000;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__title {
  font-size: 1.5rem;
  margin: 0 0 15px;
  line-height: 1;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  @media (min-width: 992px) {
    font-size: 1.8rem;
  }
}
